.gig-banner {
  background-color: #81d4fa;
}

.everything {
  background-color: #64b5f6;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: #006064;
  padding: 25px 25px 25px 25px;
  margin-top: 15px;
}

.pic {
  border-style: solid;
  border-width: 3px;
  border-color: #006064;
}

.footer {
  background-color: #81d4fa;
  margin-top: 15px;
}
