.gig-banner {
  background-color: #81d4fa;
  z-index: 2;
}

body {
  z-index: 2;
}

.everything {
  background-color: #64b5f6;
  color: white;
  border-style: solid;
  border-width: 3px;
  border-color: #006064;
  padding: 25px 25px 25px 25px;
  margin-top: 15px;
}

.pic {
  border-style: solid;
  border-width: 3px;
  border-color: #006064;
}

canvas {
   position: absolute;
   z-index: 1;
   top: 5px;
   height:100%;
   width:100%;
}

#canvas-wrap {
  position:relative;
}
#canvas-wrap canvas {
  position:absolute;
  top:0;
  left:0;
  z-index:0
}

.footer {
  background-color: #81d4fa;
  margin-top: 15px;
}
